@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Nanum+Gothic&display=swap');

* {
    font-family: 'Nanum Gothic', sans-serif;
    /* font-family: 'Julius Sans One', sans-serif; */
}

body {
    background: hsl(198, 82%, 6%);
}

.App {
    width: 530px;
    font-size: 2.5rem;
    border: 0.3rem solid;
    border-radius: 2.35rem;
    border: 0.2rem solid hsl(198, 82%, 45%);
    color: hsl(198, 82%, 46%);
    background: hsl(198, 82%, 10%);

}

h1{
    font-size: 2.8rem;
}

.form-control {
    width: 93%;
    height: 60px;
    border-radius: 1.05rem;
    border: 0.15rem solid hsl(198, 82%, 45%);
    background: hsl(198, 82%, 16%);
    color: hsl(198, 82%, 48%);   
    font-size: 1.15rem;
}

.form-control::-webkit-input-placeholder{
    color: hsl(198, 82%, 30%);   
}

.qrcode {
    border-radius: 1.8rem;
    border: 0.15rem solid hsl(198, 82%, 45%);
}

/* .btn {
    width: 70%;
    height: 60px;    
    border-radius: 1rem;
    font-size: 1.55rem;
    border: 0.15rem solid hsl(198, 82%, 43%);
    background: hsl(198, 82%, 16%);
    color: hsl(198, 82%, 46%);
    transition: background 0.25s;
}

.btn:hover {
    background: hsl(198, 82%, 20%);
    border: 0.15rem solid hsl(198, 82%, 43%);
}

.btn:active {
    background: hsl(198, 82%, 18%);
} */

